
.table_container{
    position: relative;
	width: 70vw;
	height: 60vh;
	margin: 15vh auto 0;
	position: relative;
	background:#6497b1;
    padding: 3vw;
    
	text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;

}

table {
	width:60vw;
	border-collapse: collapse;
	margin: auto;
}

th {
	text-align: center;
	font-size: 1.5vw;
	padding: 1.8vw;
	border: 0.4vw solid #011f4b;
}

td{
	text-align: center;
	padding: 1.2vw;
	font-size: 1vw;
	border: 0.4vw solid #011f4b;

}

