<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="/css/navbar.css">
        <link rel="stylesheet" type="text/css" href="/css/admin.css">
    </head>
    <body>
        <div id="upper">
            <img id="mainimg">
            <h1>This is the best quizing platform</h1>
        </div>

        <div class="main">
        <nav id="navbar">
                <a href="/addques" class="links">NewQues</a>
                <a href="/editques" class="links">EditQues</a>
                <a href="/logout" class="links">Logout</a>  <!-- Controller Still not added-->
            </nav>
        <div class="welcome">
   
            <h2>WElcome {{admin}}</h2>
        
   
        </div>
        </div>
        <footer id="footer">
                <div id="footerdiv">
                    <p>For queries contact</p>
                    <span class="contact">Phone NO.</span><span>XXXXXXXXXX</span><br>
                    <span class="contact">Email</span><span>karansingh0299@gmail.com</span>
                </div>
            </footer>
    </body>
</html>